.BurgerBuilder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SpinnerDiv {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
