.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 0.5rem;
  font-family: "Haymaker";
}

.BuildControl button {
  margin: 0 0.1rem;
}
